body{
    background-color: rgb(215, 238, 248);
}
h1{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
p{
 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
